.transactionsCard {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;

  .transactionCard-info {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .sum {
      font-weight: bold;
    }
  }
}
